<ion-view view-title="Welcome To Spoiler Blocker">
      <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide class="page-1"></ion-slide>
        <ion-slide class="page-2"></ion-slide>
        <ion-slide class="page-3"></ion-slide>
        <ion-slide class="page-4"></ion-slide>
        <ion-slide class="page-5"></ion-slide>
        <ion-slide class="page-6"></ion-slide>
        <ion-slide class="page-7"></ion-slide>
        <ion-slide class="page-8">
           <button nav-clear class="button button-positive button-clear no-animation start-app"
                   ng-click="startApp()">
            <i class="ion-ios-play intro-start"></i>
          </button>
        </ion-slide>
      </ion-slide-box>
</ion-view>
