<ion-view view-title="Send Tweet?">
    <ion-content class="padding content-main">
        <div class="padding margin-10px item item-body ">
            <label class="item-input" style="margin: 5px;">
                <textarea maxlength="140" ng-model='tweet' rows=7 placeholder="Tweet something..."></textarea><br>
            </label>
            <button class="button button-block button-assertive button-outline" myclick="doTweet(tweet)">Send Tweet</button>
        </div>

    		</ion-content>
</ion-view>
